# Data Exploration DW

Exploring the data on the DW after all the pipelines

## Imports  & Config

In [2]:
import psycopg2
import pandas

In [3]:
sql_host = 'udacity-dend.cigt4shvjcj5.us-east-1.redshift.amazonaws.com'
sql_port = 5439
sql_db = 'consumer'
sql_user = 'renato'
sql_password = 'Dxsnah01'
conn = \
    psycopg2.connect(f"host='{sql_host}' port={sql_port} dbname='{sql_db}' user={sql_user} password={sql_password}")

## Checking Data Quality

### How many records do we have on the DW?

In [4]:
stmt = """
    select count(*) from ft_complaints;
"""
total_complaints = pandas.read_sql(stmt, conn)
total_complaints.head()

     count
0  1019919

### How many complaints exists by each channel

In [5]:
stmt = """
    select channel, count(*) from ft_complaints group by channel;
"""
total_complaints = pandas.read_sql(stmt, conn)
total_complaints.head()

              channel   count
0      Plataforma IOS    5556
1      Plataforma Web  497782
2  Plataforma Android   21161
3              procon  495420

### How does complaints are distributed over time

By year

In [7]:
stmt = """
    select 
        dat.year, count(*) as total
    from ft_complaints as c
        left join dm_date as dat on (c.ts = dat.ts)
    group by dat.year    
    ;
"""
total_complaints = pandas.read_sql(stmt, conn)
total_complaints.head()

   year      total
0  2017  424877499